{{!--
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/expense.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Blogs'R'Us</title>
</head>

<body>

  <main> --}}

    <h2>Blog Post Comments</h2>
    <form id="blogpostcomment">
      <div>
        <label for="blog-comment-body">Blog Post Comment:</label>
        <textarea id="startcomment" name="blogpost-comment" required
          placeholder="Please Enter Your BlogPost Comment Here." />
      </div>
      <div>
        <button type="submit">Submit Blog</button>
      </div>
    </form>
    {{!--
  </main> --}}

  <footer>
    <a href="/">
      <h1>&copy; 2023 Blogs'R'Us</h1>
    </a>
  </footer>

  <script src="/js/blogpostcomments.js"></script>

</body>

</html>