{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs'R'Us - Everything Blogs</title>
    <link rel="stylesheet" href="/css/style.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Your custom CSS styles here */

        blockquote {
            border-left: none !important;
            padding-left: 0;
            margin-left: 0;
        }
    </style>
</head>

<body>


    <main>
        <section id="hero">
            <div class="container1">
                <div class="personal">
                    <h2>Everything Blogs</h2>
                    <p>
                    </p>
                </div>
                <div class="personal">

                    <h2>Blog Comments</h2>
                    <p>
                    </p>
                </div>
            </div>

            <div class="container2">
                <div>
                    <button class="cta-button">
                        <span class="btnText">Start Blogging Today!</span>
                    </button>
                </div>
            </div>
            <div class="container3">
            </div>

        </section>

    </main>

    <footer>

        <h1>&copy; 2023
            Blogs'R'Us</h1>

    </footer>
    <script src="js/csslogic.js"></script>
</body>

</html> --}}